@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>MSV: 231090033</p>
    <p>Biệt Danh: </p>
    <p>Họ Tên: Nguyễn Ngọc Hiến</p>
    <p>Lớp: </p>
    <p>Email: </p>
    <p>SĐT: </p>
</div>