@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}


<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900033</p>
    <p>Họ và tên:Ngọc Hiến</p>
    <p>Lớp: K23CNT1</p>
    <p>Email:  </p>
    <p>Điện thoại: </p>
</div>