﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900033</p>
    <p>Họ và tên:Nguyễn Ngọc Hiến</p>
    <p>Lớp: K23CNT1</p>
    <p>Email: ngochien@gmail.com  </p>
    <p>Điện thoại: 0336076551</p>
</div>