

<div class="alert alert-info">
    <h1>@ViewBag["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2310900033</p>
    <p>Họ và tên:Ngọc Hiến</p>
    <p>Lớp: K23CNT1</p>
    <p>Email:  </p>
    <p>Điện thoại: <a href="tel:0336076551" title="0336076551"</a>  </p>
</div>

